* {
    padding: 0;
    margin: 0;
}

header{
    background-color: white;
    padding: 22px 0;
}

footer{
    background-color: #F7F7F7;
    padding-top: 62px;
    padding-bottom: 60px;
}

.menuContainer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.mainContainer{
    background-color: #ECE7E4;
    padding-top: 137px;
    padding-bottom: 128px;
    background-image: url('../images/banner.jpg');
    background-position: right;
    background-repeat: no-repeat;
}

.mainContainerBlock{
    max-width: 1240px;
    margin: auto;
}

.mainContainerBlockLeft{
    max-width: 509px;
}

.bottomContainer{
    background-color: #CEC4BC;
    padding-top: 100px;
    padding-bottom: 117px;
}

.bottomContainerBlock{
    max-width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.bottomContainerBlockLeft{
    max-width: 569px;
}


ul{
    display: flex;
    list-style: none;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
    margin-bottom: 18px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.headerSmallMainContainer{
    margin-bottom: 20px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}

.textMainContainer{
    margin-bottom: 41px;
}

.textFooter{
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
}

a{
    display: inline-block;
    text-decoration:none;
}

.linkLogo{
    margin-left: 32px;
    margin-top: 14px;
}

.linkMenuButton{
    font-size: 15px;
    color: #1B1A1A;
}

.linkMenuBigButton{
    font-size: 16px;
    color: #FFFFFF;
}

.linkMainContainer{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    margin-left: 25px;
}

.linkBottomContainer{
    margin-top: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

.linkLogoFooter{
    margin-bottom: 20px;
}

.listMenuButtonFirst{
    margin-top: 11px;
}

.listMenuButton{
    margin-left: 32px;
    margin-top: 11px;
}

.listMenuBigButton{
    padding: 11px 20px;
    margin-left: 31px;
    background: #1B1A1A;
    border-radius: 14px;
}

.listTwitter{
    margin-top: 60px;
}

.listInstagram{
    margin-top: 58px;
    margin-left: 20px;
}

.listFacebook{
    margin-top: 58px;
    margin-left: 26px;
}

.whatWeDo{
    padding-top: 100px;
    padding-bottom: 100px;
    background: white;
}

.whatWeDo .container{
    max-width: 1200px;
    margin: auto;
}

.whatWeDo .container h3{
    text-align: center;
    margin-bottom: 13px;
}

.whatWeDo .container h2{
    font-size: 39px;
    text-align: center;
    margin-bottom: 47px;
}

.whatWeDo .item img {
    margin-bottom: 15px;
}

.whatWeDo .item .description{
    max-width: 292px;
    margin-left: 57px;
}

.whatWeDo .item .description h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
    text-transform: none;
    margin-bottom: 10px;
}

.whatWeDo .item .description p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}

.whatWeDo .d-flex .item a{
    max-width: 117px;
}

.owl-stage{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.owl-dots span{
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #645C55;
    border-radius: 50%;
}

.active span{
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #403E3B;
    border-radius: 50%;
}

.owl-dots{
    text-align: center;
}

.owl-carousel .owl-dots.disabled{
    display: inherit;
}

